//
//  liz_test_with_monitoring.xcconfig
//  liz
//
//  Created by Bjoern Knafla on 19.01.12.
//  Copyright (c) 2012 Bjoern Knafla. All rights reserved.
//

#include "UnitTest++"
#include "liz_common"

// GCC_PREPROCESSOR_DEFINITIONS =  
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
// GCC_VERSION = com.apple.compilers.llvmgcc42


HEADER_SEARCH_PATHS = "$(UNITTESTPP_HEADER_PATH)" "LIZ_HEADER_PATHS"
// $(BT_HEADER_PATHS) "$(UNITTESTPP_HEADER_PATH)"
LIBRARY_SEARCH_PATHS = $(inherited) "$(UNITTESTPP_LIBRARY_PATH)"

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_WARN_PEDANTIC = NO // Don't warn about long long types in UnitTest++

GCC_WARN_UNUSED_FUNCTION = NO

ARCHS = $(ARCHS_STANDARD_32_64_BIT)

GCC_PREPROCESSOR_DEFINITIONS = LIZ_VM_MONITOR_ENABLE
